<beans:beans xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.2.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

<http auto-config="true" use-expressions="true">
	<intercept-url pattern="/restricted/**" access="hasRole('ROLE_MANAGER')" />
	<logout/>
	<remember-me/>
	<csrf disabled="true"/>
</http>

<authentication-manager>
	<authentication-provider>
		<jdbc-user-service data-source-ref="WEBTJW"
		authorities-by-username-query="SELECT u.login, p.permissao FROM usuario u, usuario_permissao p WHERE u.codigo = p.usuario_codigo AND u.login = ?"
		users-by-username-query="SELECT login, senha, active FROM usuario WHERE login = ?"		
		/>
		
	</authentication-provider>
</authentication-manager>
</beans:beans>